// ------------------------------------------------
//  site-footer.
// ------------------------------------------------

.footer-container-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border-top: 1px solid get-color('black-plt', 5);

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
    }
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;

    .footer-nav-item {
        display: block;

        .nav-footer-link {
            color: rgb(24, 24, 24);
        }
    }
}