// ------------------------------------------------
//  site-footer.
// ------------------------------------------------

.footer-container-wrapper {
    display: block;

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
}