// ------------------------------------------------
//  site-footer.
// ------------------------------------------------

.footer-container-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: block;
    background: get-color('black-plt', 7);
    border-top: 1px solid get-color('black-plt', 6);

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
    }
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   // min-width: 300px;

    .footer-nav-item {
        display: block;
        margin: 0px 10px;

        .nav-footer-link {
            font-weight: 600;
            color: get-color('black-plt', 4);
        }
    }
}