// ------------------------------------------------
//  site-header.
// ------------------------------------------------

.header-container-wrapper {
    display: block;

    .header-container {
        display: block;
        box-shadow: 0px 1px 5px get-color(black_plt, 5);
    }
}

