// ------------------------------------------------
//  site-header.
// ------------------------------------------------

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header-container-wrapper {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.123);
    }
}

.header-container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    background: get-color('black-plt', 9);
    box-shadow: 0px 1px 3px get-color('black-plt', 6);

    .header-container {
        display: block;   
        width: 100%;
        height: auto; 
    }
}

