// ------------------------------------------------
//  site-header.
// ------------------------------------------------

.header-container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px get-color('black-plt', 6);

    .header-container {
        display: block;
        width: 700px;
        
    }
}

