// jumbo-banner-section.
// ---------------------------
.jumbo-banner-section {
    display: block;
    height: auto;
    width: 100%;
}

// jumbo-banner.
// ----------------------------
.jumbo-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 15px;

    // jumbo-banner-header.
    // ----------------------------
    .jumbo-banner-header {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    
        .jumbo-header {
            font-size: 42px;
        }
    }

    // jumbo-body.
    // ------------------------------
    .jumbo-body {
        display: block;
        height: auto;
        width: 100%;
    }

}

