// ------------------------------------------------
//  site-main.
// ------------------------------------------------

// main-container-wrapper.
// --------------------------

.main-container-wrapper {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 50px;
    background: get-color('black-plt', 8);

    .main-container {
        display: block;
        width: 100%;
        height: auto;
    }
}

// jumbo-banner-section.
// ---------------------------
.jumbo-banner-section {
    display: block;
}

.jumbo-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 15px;

    .bait-content-container {
        display: block;
        max-width: 500px;
        padding: 10px;
        //@include bd;

        .bait-header {
            font-size: 42px;
        }
    }

    .bait-action-container {
        display: block;
        width: 100%;
        max-width: 600px;
        padding: 10px;
        //@include bd;
    }
}

// mini-banner-section.
// ---------------------------
.mini-banner-section {
    display: block;
    height: auto;
    width: 100%;

    .mini-banner {
        position: relative;
        display: block;
        border-top: 1px solid get-color('black-plt', 5);

        .mini-banner-header {
            display: block;
            text-align: center;
            width: 100%;

            .mini-header {
                font-size: 16px;
            }

            .mini-context {
                font-size: 14px;
            }
        }

        .mini-banner-body {
            display: flex;
            align-items: center;

            .mini-banner-context {
                flex: 50%;
                height: 300px;
                border: 1px solid get-color('black-plt', 6);
            }

            .mini-banner-media {
                flex: 50%;
                height: 300px;
                border: 1px solid get-color('black-plt', 6);
            }
        }

        .mini-banner-footer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.bait-form {
    display: block;
    padding: 10px 0px;

    // hide the form-label. will add later.
    .form-label {
        display: none;
    }

    .form-span {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .form-item-squared {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(43, 43, 43);

        .form-item-input {
            flex: 80%;
            display: block;
            

            .form-input {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
            }
        }

        .form-item-submit {
            flex: 20%;
            display: block;
            
            .form-submit {
                cursor: pointer;
                display: block;
                width: 100%;
                padding: 10px 0px;
                background: rgb(255, 174, 174);
                border: none;
            }
        }
    }
}
// FIX: THis is a mess.

// pricing-cards-container.
// ----------------------------
.pricing-cards-container {
    display: block;
}

// pricing-card.
// ----------------------------
.pricing-card {
    position: relative;
    display: block;
    background: get-color('black-plt', 7);
    margin-bottom: 12px;
    box-shadow: 1px 1px 4px 1px get-color('black-plt', 5);
    //border: 1px solid get-color('black-plt', 3);

    // pricing-context-container.
    // --------------------------
    .pricing-context {
        display: block;
        padding: 20px 10px;

        .major-context {
            display: flex;
            flex-direction: column;

            .offer-label {
                align-self: center;
                display: block;
                padding: 5px;
                width: 140px;
                font-size: 14px;
                font-weight: 700;
                border: 1px solid get-color('black-plt', 5);
                border-radius: 10px;
                background: get-color('black-plt', 5);
            }

            .tier-name {
                margin-top: 10px;
                display: block;
                font-size: 30px;
                font-weight: 600;
            }
        }

        .minor-context {
            display: block;
        }

        .minor-context-list {
            list-style-type: none;
        }
    }

    // pricing-action-container.
    // --------------------------
    .pricing-action {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        .action-button-wrapper {
            display: block;

            .jumbo-action-button {
                display: block;
                padding: 5px 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 2px;
                text-decoration: none;
                color: get-color('black-plt', 6);
                background: get-color('black-plt', 2);
                border: 1px solid get-color('black-plt', 3);
                border-radius: 5px;
            }
        }

        .legal-disclaimer-wrapper {
            display: block;
            margin-top: 10px;

            .legal-disclaimer {
                text-decoration: none;
            }

            .legal-disclaimer-link {
                font-weight: 400;
                color: get-color('black-plt', 2);
            }
        }
    }
}