// ------------------------------------------------
//  site-main.
// ------------------------------------------------

// main-container-wrapper.
// --------------------------

.main-container-wrapper {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 50px;
    background: get-color('black-plt', 8);

    .main-container {
        display: block;
        width: 100%;
        height: auto;
    }
}

