// mini-banner-section.
// ---------------------------

.mini-banner-section {
    display: block;
    height: auto;
    width: 100%;
}

// mini-banner.
// ----------------------------

.mini-banner {
    position: relative;
    display: block;
    padding: 4px;
    border-top: 1px solid get-color('black-plt', 5);

    .mini-banner-header {
        display: block;
        padding: 10px 0px;
        text-align: center;
        width: 100%;

        .mini-header {
            font-size: 32px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .mini-context {
            font-size: 14px;
        }
    }

    .mini-banner-body {
        position: relative;
        display: flex;
        align-items: center;

        .mini-banner-context {
            z-index: 99;
            flex: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;
            border: 1px solid get-color('black-plt', 6);
        }

        .mini-banner-media {
            position: absolute;
            z-index: 9;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 300px;
            //background: get-color('black-plt', 1);
            border: 1px solid get-color('black-plt', 6);
        }
    }

    .mini-banner-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}