// mini-banner-section.
// ---------------------------
.mini-banner-section {
    display: block;
    height: auto;
    width: 100%;
}

// mini-banner.
// ----------------------------
.mini-banner {
    position: relative;
    display: block;
    padding: 55px 10px;
    border-top: 1px solid get-color('black-plt', 5);

    .mini-banner-header {
        display: block;
        padding: 10px 0px;
        text-align: center;
        width: 100%;

        .mini-header {
            font-size: 38px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .mini-context {
            font-size: 14px;
        }
    }

    .mini-banner-body {
        position: relative;
        display: flex;
        //align-items: center;

        .mini-banner-context {
            z-index: 99;
            flex: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            //border: 1px solid get-color('black-plt', 6);
        }

        .mini-banner-media {
            position: absolute;
            z-index: 9;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            height: auto;
            //background: get-color('black-plt', 1);
            //border: 1px solid get-color('black-plt', 6);
        }
    }

    // responsive mini-banner
    // ----------------------------
    .mini-banner-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// .context-container
// -----------------------------------
.context-container {
    display: block;
    height: auto;
    width: 100%;
}

// .context-section.
// -------------------------------------
.context-section {
    display: block;
    padding: 10px;
    background: get-color('black-plt', 7);
    border: 1px solid get-color('black-plt', 8);

    // context-section-header-container.
    .context-section-header-container {
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
        background: get-color('black-plt', 8);
        border: 1px solid get-color('black-plt', 8);
    }

    //context-section-body.
    .context-section-body {
        display: block;
        background: get-color('black-plt', 8);
        //border: 1px solid get-color('black-plt', 8);
    }
}

// .context-item
// ------------------------------
.context-item {
    display: flex;
    height: auto;
    margin-bottom: 5px;
    border: 1px solid get-color('black-plt', 6);

    .context-rank-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        padding: 5px 10px;
        margin-right: 10px;
        border-right: 1px solid get-color('black-plt', 5);
        border-radius: 2px;
    }

    .context-content-container {
        display: flex;
        align-items: center;
        width: 100%;
        //border: 1px solid get-color('black-plt', 5);
    }
}
