// ------------------------------------------------
//  site-nav.
// ------------------------------------------------
.nav-container {
    display: flex;
    align-items: center;
    padding: 10px 5px;

    // nav-menu-bar.
    .nav-menu-bar-container {
        display: block;
        padding: 5px;
        border: 1px solid gray;

        .nav-menu-bar {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 24px;
            cursor: pointer;

            .bar {
                width: 22px;
                height: 3px;
                background: black;
            }
        }
    }

    // nav-links.
    .nav-links-container {
        display: flex;
        align-items: center;

        // .nav-logo-container.
        .nav-logo-container {
            display: block;

            .nav-logo {
                letter-spacing: 2px;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
                padding: 8px 15px;
                border: 1px solid gray;
            }
        }

        .nav-items-container {
            display: block;

            .nav-items-list {
                list-style-type: none;
                display: flex;
                align-items: center;
            }

            .nav-item {
                border: 1px solid gray;
                padding: 8px 15px;

                .nav-link {
                    letter-spacing: 2px;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}
