// forms.scss
// -----------------------
form {
    display: block;
    height: auto;
    width: 100%;

    .form-item {
        display: block;
        border: 1px solid get-color('blue-plt', 3);
    }
}