// .jumbo-form
// ------------------------
.jumbo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;

    // .jumbo-form-item
    // -------------------------
    .form-item {
        display: block;
    }

    // hide the form-label. will add later.
    .form-label {
        display: none;
    }

    .form-span {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .form-item-squared {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 700px;
        box-shadow: 1px 1px 1px 1px get-color('black-plt', 5);
        //border: 1px solid get-color('black-plt', 5);
        border-radius: 5px;

        .form-item-input {
            flex: 80%;
            display: block;
            width: 100%;
            

            .form-input {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
            }

            .form-input:focus {
                border: none !important;
            }
        }

        .form-item-submit {
            flex: 20%;
            display: block;
            
            .form-submit {
                cursor: pointer;
                display: block;
                width: 100%;
                padding: 10px 0px;
                font-weight: 700;
                color: get-color('black-plt', 1);
                background: get-color('purple-plt', 1);
                border: none;
            }
        }
    }
}
