// ------------------------------------------------
//  base-styles
// ------------------------------------------------

html {
    display: block;
    font-size: 16px;
    font-family: 'Raleway';
    background: get-color('black-plt', 9);
}