* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.header-container-wrapper {
  display: block;
}
.header-container-wrapper .header-container {
  display: block;
  border-bottom: 1px solid gray;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
.nav-container .nav-menu-bar-container {
  display: block;
  padding: 5px;
}
.nav-container .nav-menu-bar-container .nav-menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 24px;
  cursor: pointer;
}
.nav-container .nav-menu-bar-container .nav-menu-bar .bar {
  width: 22px;
  height: 3px;
  background: black;
}
.nav-container .nav-links-container {
  display: flex;
  align-items: center;
}
.nav-container .nav-links-container .nav-logo-container {
  display: block;
}
.nav-container .nav-links-container .nav-logo-container .nav-logo {
  letter-spacing: 2px;
  font-size: 14px;
  color: #141414;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 15px;
}
.nav-container .nav-links-container .nav-items-container {
  display: block;
}
.nav-container .nav-links-container .nav-items-container .nav-items-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-container .nav-links-container .nav-items-container .nav-item {
  padding: 8px 15px;
}
.nav-container .nav-links-container .nav-items-container .nav-item .nav-link {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  text-transform: uppercase;
  text-decoration: none;
}

.bait-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 15px;
}
.bait-banner .bait-content-container {
  display: block;
  max-width: 500px;
  padding: 10px;
}
.bait-banner .bait-content-container .bait-header {
  font-size: 42px;
}
.bait-banner .bait-action-container {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.bait-form {
  display: block;
  padding: 10px 0px;
}
.bait-form .form-label {
  display: none;
}
.bait-form .form-span {
  font-size: 14px;
}
.bait-form .form-item-squared {
  display: flex;
  align-items: center;
  border: 1px solid #2b2b2b;
}
.bait-form .form-item-squared .form-item-input {
  flex: 80%;
  display: block;
}
.bait-form .form-item-squared .form-item-input .form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
}
.bait-form .form-item-squared .form-item-submit {
  flex: 20%;
  display: block;
}
.bait-form .form-item-squared .form-item-submit .form-submit {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px 0px;
  background: #ffaeae;
  border: none;
}

.footer-container-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  border-top: 1px solid gray;
}
.footer-container-wrapper .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}
.footer-nav .footer-nav-item {
  display: block;
}
.footer-nav .footer-nav-item .nav-footer-link {
  color: #181818;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/*# sourceMappingURL=styles.css.map */
